@{
    ViewData["Title"] = "Home Page";
}

<body>
    <header>
        <div class="row">
            <div class="logo-row">
                <img src="/images/logo.png" alt="logo" class="logo" />
            </div>
        </div>
    </header>
</body>