@{
    ViewData["Title"] = "Location Page";
}

<body>
    <header>
        <div class="row">
            <div class="logo-row">
                <img src="/images/logo.png" alt="logo" class="logo" />
            </div>
        </div>
        <div class="row">
            <h2>Set a desired location below if our geolocation provides unwanted results</h2>
            <form asp-action="Location">
                <div class="form-group">

                    <input name="Location" class="form-control w-25" />
                </div>
                <input type="submit" value="Submit Location" class="btn btn-outline-dark mt-1" />
            </form>
        </div>
    </header>
</body>