html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
    background-color: #FFFAEE;
}

body {
    margin-bottom: 60px;
    background: #fffaee;
}

.logo {
    height: 479px;
    width: 400px;
}
/* CUSTOM CLASSES*/

.th-side-nav {
    height:200px;
    background-color: #FFDE90;
    color: #000000;
}

.th-navbar {
    background-color: #8F5353;
    color: #FFFAEE;
}

.th-section {
    background-color: #DBD6CA;
}
